/*
	TXT 1.0 by HTML5 Up!
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		min-width: 1200px;
	}

	h1, h2, h3, h4, h5, h6, h7
	{
		margin: 0 0 0.5em 0;
	}

	h2
	{
		font-size: 1.65em;
	}

		h2.major
		{
			font-size: 1.65em;
			text-align: center;
			margin: 0 0 3em 0;
		}

			h2.major span
			{
				top: -0.775em;
				padding: 0 1.5em 0 1.5em;
			}

			#footer h2.major
			{
				margin: 0 0 1em 0;
			}
			
			.sidebar h2.major
			{
				text-align: left;
				margin: 0 0 1em 0;
			}
			
				.sidebar h2.major span
				{
					padding-left: 0;
				}

	h3
	{
		font-size: 1.25em;
	}

	h4
	{
		font-size: 1.25em;
	}

	.button
	{
		font-size: 1.25em;
		padding: 0.85em 1.85em 0.85em 1.85em;
	}

	.button-big
	{
		font-size: 1.65em;
		padding: 0.85em 1.85em 0.85em 1.85em;
	}
	
	.actions
	{
		text-align: center;
		margin: 2em 0 0 0;
	}
	
		.actions .button
		{
			margin: 0 0.5em 0 0.5em;
		}

/*********************************************************************************/
/* Section + Article Types                                                       */
/*********************************************************************************/

	.is-highlight
	{
	}
	
		.is-highlight .special
		{
			margin: 0 0 4em 0;
		}

		.is-highlight h2
		{
			font-size: 3em;
			margin: 0 0 0.75em 0;
		}

		.is-highlight .byline
		{
			font-size: 1.65em;
			margin: 0 0 1.5em 0;
		}

	.is-feature
	{
		text-align: center;
	}
	
	.is-post
	{
	}

		.is-post header
		{
			margin: 0 0 2.5em 0;
		}

		.is-post h3
		{
			font-size: 3em;
			margin: 0 0 0.5em 0;
		}

		.is-post .byline
		{
			font-size: 1.65em;
			margin: 0 0 0.5em 0;
		}

		.is-post ul.meta
		{
			margin: 0 0 0.5em 0;
		}
	
	.is-post-summary
	{
	}
	
		.is-post-summary h3
		{
			line-height: 1em;
			margin: 0 0 0.75em 0;
		}

		.is-post-summary .meta
		{
			margin: 0;
			line-height: 1em;
		}

	.is-page-content
	{
	}

		.is-page-content header
		{
			margin: 0 0 2.5em 0;
		}

		.is-page-content h2
		{
			font-size: 3em;
			margin: 0 0 0.5em 0;
		}

		.is-page-content .byline
		{
			font-size: 1.65em;
			margin: 0 0 0.5em 0;
		}

		.is-page-content ul.meta
		{
			margin: 0 0 0.5em 0;
		}

/*********************************************************************************/
/* Sidebar + Content                                                             */
/*********************************************************************************/

	.sidebar
	{
		padding-top: 0.5em;
	}
	
		.homepage .sidebar
		{
			padding-top: 0;
		}

	.content
	{
	}

		.content-left
		{
			padding-right: 2em;
		}
	
		.content-right
		{
			padding-left: 2em;
		}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#banner-wrapper
	{
		padding: 8em 0 8em 0;
	}
	
	#main-wrapper
	{
		border-top-width: 35px;
		border-bottom-width: 10px;
	}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		text-align: center;
		font-size: 2em;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		padding: 6em 0 3em 0;
		background: #fff;
		margin: 0 auto;
	}

		#header .logo
		{
			position: relative;
			text-align: center;
			border-top: solid 5px #e7eae8;
		}

			#header .logo div
			{
				background: #fff;
				position: relative;
				display: inline-block;
				padding: 0 1.5em 0 1.5em;
				top: -0.65em;
			}
		
			#header .logo h1,
			#header .logo .byline
			{
				display: inline;
			}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		background: rgba(255,255,255,0.95);
		width: 100%;
		height: 3.5em;
		line-height: 3.5em;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
	}

		#nav:after
		{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		/*	background: url('images/image1.png');*/
		background-color:#333333;
			opacity: 0.5;
		}

		#nav ul
		{
			position: relative;
			z-index: 1001;
		}
	
		#nav li
		{
			display: inline-block;
			margin: 0 0.5em 0 0.5em;
			top: 0;
			position: relative;
			-moz-transition: top .15s ease-in-out;
			-webkit-transition: top .15s ease-in-out;
			-o-transition: top .15s ease-in-out;
			-ms-transition: top .15s ease-in-out;
			transition: top .15s ease-in-out;
		}

			#nav li a
			{
				position: relative;
				display: block;
				text-decoration: none;
				color: #000123;
				top: -3px;
				padding: 3px 1.5em 0.25em 1.5em;
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				outline: 0;
				-moz-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				-webkit-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				-o-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				-ms-transition: background-color .075s ease-in-out, color .075s ease-in-out;
				transition: background-color .075s ease-in-out, color .075s ease-in-out;
			}

			#nav li:hover
			{
				top: 3px;
			}

				#nav li:hover a
				{
					background: #C1CAC5;
					color: #009099;
				}

			#nav li.current_page_item
			{
			}

				#nav li.current_page_item a
				{
					background: #e3daa8;
					color: #fff;
				}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 5em 0 5em 0;
	}
	
		#banner h2
		{
			font-size: 2.75em;
			margin: 0 0 0.75em 0;
		}
		
		#banner .byline
		{
			font-size: 1.35em;
			margin: 0 0 1.75em 0;
		}

		#banner .button
		{
			font-size: 1.5em;
		}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 4em 0 4em 0;
	}

		#main > .row
		{
			padding: 3em 0 3em 0;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		text-align: center;
		padding: 8em 0 8em 0;
	}
	
		#footer > .row
		{
			padding: 2em 0 2em 0;
		}
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin: 4em 0 0 0;
	}