﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Login" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<link href="login-box.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body style="background-color:#C1C0C0  ">
    <form id="form1" runat="server">
    <div >

    

<div style="padding: 110px 0 0 400px;">


<div id="login-box" >

<H2>Login</H2>
<br />
<br />
<div id="login-box-name" style="margin-top:20px;">Roll No:</div><div id="login-box-field" style="margin-top:20px;">
  <asp:TextBox ID="TextBox1" runat="server" CssClass="form-login" Width="220"></asp:TextBox></div>
  

<div id="login-box-name">Password:</div><div id="login-box-field">
<asp:TextBox ID="TextBox2" runat="server" CssClass="form-login" Width="220" type="password"></asp:TextBox>
</div>
<br />

    <asp:ImageButton ID="ImageButton1" runat="server"   
        ImageUrl="images/login-btn.png" width="103" height="42" 
        style="margin-left:90px;" onclick="ImageButton1_Click"/>

        <br />
    <asp:Label ID="Label1" runat="server" Text="" ForeColor="Red"></asp:Label>

    <asp:RequiredFieldValidator ID="RequiredFieldValidator1" ForeColor="Red" runat="server" ErrorMessage="Please Enter Roll Number" Display="Dynamic"
    ControlToValidate="TextBox1"></asp:RequiredFieldValidator>
      <asp:RequiredFieldValidator ID="RequiredFieldValidator2" ForeColor="Red" runat="server" ErrorMessage="Please Enter Password" Display="Dynamic"
    ControlToValidate="TextBox2"></asp:RequiredFieldValidator>











</div>

</div>
    

    </div>
    </form>
</body>
</html>
