﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="StudentProfile.aspx.cs" Inherits="StudentProfile" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
  
  
<!--initiate accordion-->
<script type="text/javascript">

    $(function () {

        var menu_ul = $('.menu > li > ul'),

       menu_a = $('.menu > li > a');

        menu_ul.hide();


        menu_a.click(function (e) {
            e.preventDefault();

            if (!$(this).hasClass('active')) {

                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');

                $(this).addClass('active').next().stop(true, true).slideDown('normal');
            } else {

                $(this).removeClass('active');
                $(this).next().stop(true, true).slideUp('normal');

            }
        });

    });
</script>

  <link rel="stylesheet" href="css/styles.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
		
		<script src="js/jquery-1.8.3.min.js"></script>
		<script src="css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI.titleBarOverlaid=1"></script>
</head>
<body style="background-color:#C1C0C0">
    
    <form id="form2" runat="server">
    
   
    
    <div style="background-color:Gray; opacity:120" >
  

		<!-- Nav -->
			<nav id="nav" class="mobileUI-site-nav">
				<ul>
					<li class=""><a href="">Advisory System Fast-NU</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <asp:Label ID="Label1" runat="server"></asp:Label>
                        <asp:Button ID="Button1" runat="server" onclick="Button1_Click1" 
                            Text="Log out" />
                    </li>
					
				</ul>
			</nav>
		<!-- /Nav -->
       
   <div style="color:White; float:left; width:203px; margin-top:55px">
 

 	<ul class="menu" style="text-decoration:none">
	
		
	<li class="item0" style=" background-repeat:repeat-x; color:Blue"><a href="#" >Menu </a>	</li>
   
	<li class="item1" ><a href="Grades.aspx" >Grades Combination </a></li>
		<li class="item2"><a href="SelectCourses.aspx">Registration </a> </li>
		<li class="item3"><a href="AutoGenerateCourse.aspx"> View Course </a>	</li>
		<li class="item4"><a href="#">Calculate GPA </a>	</li>
		<li class="item5"><a href="SubmitApp.aspx">Submit Application </a>	</li>
	</ul>


</div>

   </div>
    

    </form>
</body>
</html>