﻿.contact-form-widget {
max-width: 100%;
margin: 0 auto;
padding: 10px;
background: #F8F8F8;
color: #000;
border: 1px solid #C1C1C1;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}

/* Fields and submit button */


/* Submit button style */


/* Submit button on mouseover */
